<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin/additem"><h2>Add Product</h2></a>
    <a href="/admin/userdisplay">view all products</a>
    <a href="/edititem"><h2>Edit Product</h2></a>
    <a href="/admin//displayproduct"><h2>Display Product</h2></a>
</body>
</html> 
 -->

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>HAUNT ADMIN</title>
   <!-- plugins:css -->
   <link rel="stylesheet" href="/template/vendors/feather/feather.css">
   <link rel="stylesheet" href="/template//ti-icons/css/themify-icons.css">
   <link rel="stylesheet" href="/template/vendors/css/vendor.bundle.base.css">
   <script src="https://kit.fontawesome.com/0709d2b5ba.js" crossorigin="anonymous"></script>
   <!-- endinject -->
   <!-- Plugin css for this page -->
   <link rel="stylesheet" href="/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
   <script src="https://kit.fontawesome.com/0709d2b5ba.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/template/vendors/ti-icons/css/themify-icons.css">
   <link rel="stylesheet" type="text/css" href="/template/js/select.dataTables.min.css">
   <!-- End plugin css for this page -->
   <!-- inject:css -->
   <link rel="stylesheet" href="/template/css/vertical-layout-light/style.css">
   <!-- endinject -->
   <link rel="shortcut icon" href="/template//favicon.png" />
 </head>
 <style>
  .sidebar .nav .nav-item.active > .nav-link {
    background: #4B49AC;
    position: relative;}
 </style>
 
 <body>
  <body>
    <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>