<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=================== The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags ===================-->
    <!--=================== Favicon ===================-->
    <link rel="shortcut icon"
        href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/favicon.png?v=141314581251001273901483514777"
        type="image/png" />

    <!--=================== Description ===================-->
    <meta name="description" content="HAUNT Jewellery | Aadith Gino">

    <link rel="stylesheet" href="<link rel=" stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--=================== Title ===================-->
    <title>HAUNT </title>
    <!--=================== Helpers ===================-->
    <link rel="canonical" href="https://haunt-responsive-theme.myshopify.com/">

    <!--=================== Bootstrap Core CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/bootstrap.min.css?v=102160851808464328901483514777"
        rel="stylesheet" type="text/css" media="all" />
    <!--=================== Paira Framework Main CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira.css?v=7005573515670121941483515071"
        rel="stylesheet" type="text/css" media="all" />
    <!--=================== Paira Framework Color and Font Settings CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira-typography.css?v=63495490553207931111483514781"
        rel="stylesheet" type="text/css" media="all" />
    <!--=================== Paira Framework Main Responsive CSS ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira-responsive.css?v=170750040158343454031483514779"
        rel="stylesheet" type="text/css" media="all" />
    <!--=================== Font Awesome ===================-->
    <link href="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/font-awesome.min.css?v=63684808038327842911483514777"
        rel="stylesheet" type="text/css" media="all" />

    <!--=================== Jquery Include ===================-->
    <script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/jquery-1.11.2.min.js?v=44735351667816064131483514779"
        type="text/javascript"></script>
    <script
        src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/jquery-migrate-1.2.1.min.js?v=163044760040938828711483514779"
        type="text/javascript"></script>

    <!--=================== Header Hook For Plugins ===================-->
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script>
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/16910147/digital_wallets/dialog">
    <script id="shopify-features"
        type="application/json">{"accessToken":"8ad628d852d0490fc53843e4a87add69","betas":["rich-media-storefront-analytics"],"domain":"haunt-responsive-theme.myshopify.com","predictiveSearch":true,"shopId":16910147,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
    <script>var Shopify = Shopify || {};
        Shopify.shop = "haunt-responsive-theme.myshopify.com";
        Shopify.locale = "en";
        Shopify.currency = { "active": "USD", "rate": "1.0" };
        Shopify.country = "US";
        Shopify.theme = { "name": "haunt-shopify-theme-v1-0", "id": 171275473, "theme_store_id": null, "role": "main" };
        Shopify.theme.handle = "null";
        Shopify.theme.style = { "id": null, "handle": null };
        Shopify.cdnHost = "cdn.shopify.com";
        Shopify.routes = Shopify.routes || {};
        Shopify.routes.root = "/";</script>

</head>

<body>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>

    <!--=================== Main Body Content Container ===================-->
    <div class="paira-container">
        <!--=================== Header Container ===================-->
        <header>
            <!--=================== Header Top Section ===================-->
            <section class="header-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="logo-text pull-left">

                                <a href="/">
                                    <img src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/logo.png?v=128804864739962265131483514779"
                                        class="img-responsive" alt="">
                                </a>

                            </div>

                            <!--=================== Cart ===================-->

                            <!-- <div class="cart-menu-body paira-cart-menu-body pull-right">
                        <a href="/cart">My Cart <span class="paira-cart-item-count">( 5 )</span></a>
                    </div> -->



                        </div>
                    </div>
                </div>
            </section>
            <section class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!--=================== Main Menu ===================-->
                            <!--=================== Multi Layout Mega Menu ===================-->
                            <nav class="navbar navbar-default paira-mega-menu mega-menu">
                                <div class="navbar-header">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse"
                                        class="navbar-toggle pull-right">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar-collapse" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">


                                        <li class="">
                                            <a href="/">Home</a>
                                        </li>



                                        <li class="">
                                            <a href="/usershop">Shop</a>
                                        </li>



                                        <!-- <li class="">
                <a href="/blogs/news">Collections</a>
            </li> -->



                                        <li class="">
                                            <!-- <a href="/pages/about-us">Cart</a> -->
                                            <a href="/usercart">My Cart <span class="paira-cart-item-count"></span></a>
                                        </li>



                                        <li class="">
                                            <a href="/userprofile">Profile </a>
                                        </li>


                                        <li class="">
                                            <a href="/pages/contact-us">Orders </a>
                                        </li>


                                    </ul>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </section>

        </header>
        <!--=================== Main Content Container ===================-->
        <!--=================== Login Template ===================-->
        <main class="login-page margin-bottom-30">
            <section class="login-content">
                <div id="login">
                    <div class="container">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-title margin-bottom-30 margin-top-30">
                                        <% if (error.length > 2) { %>
                                            <h1 class="page-header text-center">Login</h1>
                                            <br>
                                            <h4 style="color: red;">!!<%=error%>!!</h4>
                                            <%} else { %>
                                                <h1 class="page-header text-center">Login</h1>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form method="post" action="/otpverify" id="f1" name="f1"
                                            accept-charset="UTF-8"><input type="hidden" value="customer_login" /><input
                                                type="hidden" name="utf8" value="✓" />

                                            <label>OTP</label>
                                            <input type="number" placeholder="example:123456" value="" name="email"
                                                class="form-control margin-bottom-20" id="email" />
                                            <p id="email1"></p>
                                            <button type="submit" onclick="return validate()"
                                                class="btn btn-default pull-left margin-top-10 btn-lg">Log In</button>
                                            <!-- <a href="/otplogin" class="pull-left margin-top-10"><h5> &nbsp; &nbsp;&nbsp; &nbsp;Resend OTP?</h5></a>  -->
                                            <a href="/userlogin" class="pull-right margin-top-10">
                                                <h5>Login with Password</h5>
                                            </a>

                                        </form>
                                        <script>

                                            function validate() {





                                                if (document.f1.email.value === "") {

                                                    document.getElementById('email').style.borderColor = "red";
                                                    document.f1.email.focus()
                                                    document.getElementById("email1").innerHTML = "*Fill this filed"
                                                    document.getElementById("email1").style.color = "red";
                                                    return false;
                                                }
                                                else if (document.f1.email.value.length < 6 && document.f1.email.value.length > 6) {
                                                    console.log(document.f1.email.value.length);
                                                    document.getElementById('email').style.borderColor = "red";
                                                    document.f1.email.focus()
                                                    document.getElementById("email1").innerHTML = "*Enter a Valid OTP";
                                                    document.getElementById("email1").style.color = "red";
                                                    return false;
                                                }



                                                else if (document.f1.password.value === "") {

                                                    document.getElementById('password').style.borderColor = "red";
                                                    document.f1.password.focus()
                                                    document.getElementById("password1").innerHTML = "*Fill this filed"
                                                    document.getElementById("password1").style.color = "red";
                                                    return false;
                                                }
                                                else {

                                                }
                                            }

                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <h4 class="margin-bottom-20 margin-top-40">New Customer?</h4>
                                <a href="/signup" class="btn btn-primary btn-lg">Create An Account</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recover-password" style="display:none">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title margin-bottom-30 margin-top-30">
                                    <h1 class="page-header text-center">Reset Password</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="margin-bottom-30">We will send you an email to reset your password.
                                        </h5>
                                        <form method="post" action="/account/recover" accept-charset="UTF-8"><input
                                                type="hidden" name="form_type"
                                                value="recover_customer_password" /><input type="hidden" name="utf8"
                                                value="✓" />

                                            <input type="email" placeholder="Email Address" value="" size="30"
                                                name="email" id="recover-email" class="form-control margin-bottom-20" />
                                            <button type="submit"
                                                class="btn btn-default pull-left margin-top-10">Reset</button>
                                            <button onclick="hideRecoverPasswordForm();return false;"
                                                class="btn btn-default pull-left margin-left-10 margin-top-10">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
        <script type="text/javascript">
            function showRecoverPasswordForm() {
                document.getElementById('recover-password').style.display = 'block';
                document.getElementById('login').style.display = 'none';
            }
            function hideRecoverPasswordForm() {
                document.getElementById('recover-password').style.display = 'none';
                document.getElementById('login').style.display = 'block';
            }
            if (window.location.hash == '#recover') { showRecoverPasswordForm() }
        </script>

       <!--=================== Footer Container ===================-->
    <!--=================== Footer ===================-->
    <footer>
        <!--=================== Footer Middle Section ===================-->
        <section class="footer-middle">
            <div class="container">
                <div class="row">
                    <!--=================== Footer Middle Column 1 ===================-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h4 class="margin-clear margin-clear margin-bottom-20">Contact Us</h4>
                        <p class=""><i class="fa fa-envelope margin-right-10"></i> support@haunt.com</p>
                        <p class=""><i class="fa fa-phone margin-right-10"></i> Mon - Sun 8.00 - 15.00</p>
                        <p class=""><i class="fa fa-map-marker  margin-right-10"></i> Kochi</p>
                    </div>
                    <!--=================== Footer Middle Column 2 ===================-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="list-unstyled footer-list-style">
                            
                            <li><a href="">Terms & Conditions</a></li>
                            
                            <li><a href="">Our credit slips</a></li>
                            
                            <li><a href="">Shipping & Refund</a></li>
                            
                            <li><a href="">Delivery Information</a></li>
                            
                            <li><a href="">Our personal info</a></li>
                            
                        </ul>
                    </div>
                    <!--=================== Footer Middle Column 3 ===================-->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <ul class="list-unstyled footer-list-style">
                            
                            <li><a href="">Search</a></li>
                            
                            <li><a href="">About us</a></li>
                            
                            <li><a href="">Contact us</a></li>
                            
                            <li><a href="">Returns</a></li>
                            
                            <li><a href="">Shipping</a></li>
                            
                        </ul>
                    </div>
                    <!--=================== Footer Middle Column 1 ===================-->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <p>Spoil your loved ones with a necklace that can be paired easily with any ethnic outfit like a suit or a sari. The sheer gold gives an elite feel to the jewellery on a budget..</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--=================== Footer Bottom Section ===================-->
        <section class="footer-bottom borders">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="text-center margin-top-20 margin-bottom-20">&copy; <a href="#" target="_blank">HAUNT</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>

<!--=================== For All Modal Dialog Box / Loading Animation ===================-->
<!--=================== Ajax Loading ===================-->
<div class="paira-loading ajax-loading margin-clear padding-clear text-center" style="display: none;">
    <img src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/ajax_loader.gif?v=6138063637344813521483514776" class="padding-clear margin-top-10">
    <p>Loading...</p>
</div>
<!--=================== Ajax Success Message ===================-->
<div class="modal fade ajax-success-message" id="paira-ajax-success-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="margin-bottom-15 paira-success-message-title"></h4>
                        <div class="alert alert-success margin-bottom-0 margin-top-15 padding-top-5 padding-bottom-5 text-center" role="alert">
                            <i class="fa fa-check"></i> Added To Your Shopping Cart.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Common Message ===================-->
<div class="modal fade common-message" id="paira-common-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success margin-bottom-20 margin-top-20 text-center font-size-14" role="alert">
                            <strong class="paira-common-message-details"></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Video ===================-->
<div class="modal fade" id="playvideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <iframe style="width: 100%" height="480" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!--=================== Scripts Include ===================-->
<script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/bootstrap.min.js?v=73724390286584561281483514777" type="text/javascript"></script>
<script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-9f517843f664ad329c689020fb1e45d03cac979f64b9eb1651ea32858b0ff452.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/jquery.easing.1.3.js?v=172541285191835633401483514778" type="text/javascript"></script>
<!--=================== Paira Framework Main Javascript ===================-->
<script src="//cdn.shopify.com/s/files/1/1691/0147/t/3/assets/paira.js?v=50387880865456428231483514779" type="text/javascript"></script>

</body>
</html>